services:
  
  web:
    build: .
    networks:
        - frontend
    volumes:
            - .:/app/:z
    ports: # IMPORTANT: Make sure to use 127.0.0.1 to keep it local. Otherwise, this will be broadcast to the web.
        - 127.0.0.1:8000:8000

networks:
    frontend:
