<html>
<head>


<title>Documentation for My::Module</title>


<style type="text/css">


h1 {


    color: white;


    background-color: blue;


}


li {


    font-size: 14pt;


}


</style>


</head>


<body>


<main>


<hr>


All done!


</body>


</html>