body
{
	color : #666;
	background : #fff;
	margin : 0px;
	padding : 0px;
	font-family : arial, helvetica, sans-serif;
	font-size : 12px;
	text-align : center;
}

div#container
{
	text-align : left;
	margin : 0px auto;
	width : 798px;
	border : 1px solid #000;
	border-top : 0px;
}

div#footer
{
	margin : 0px;
}

div#footer div.links a
{
	margin: 20px;
}

div#footer_content
{
	background : #e1e6c6;
	padding : 10px 25%;
	font-size : 10px;
	color : #777;
}

div#footer_content p
{
	margin : 0px;
	padding : 2px;
}

div#footer_content a
{
	text-decoration: none;
	font-weight: bold;
}

div.footer_icon
{
	float: left;
}

div#main
{
	margin : 30px auto 10px;
	width : 570px;
	padding : 5px;
	text-align: justify;
}

div.figure
{
	margin : 25px auto;
	text-align : center;
}

div.figure_caption
{
	margin : 2px auto 10px;
	font-size : 95%;
	text-transform : uppercase;
	color : #880;
}

table.data
{
	margin : 25px auto;
}

table.data caption
{
	margin : 10px auto 2px;
	font-size : 95%;
	text-transform : uppercase;
	color : #880;
}

h1
{
	margin : 0px 0px .7em;
	padding : 5px;
	font-size : 2em;
}

h2
{
	margin : 0px;
	padding : 5px 5px 15px 5px;
	font-weight : bold;
	text-transform : uppercase;
	font-size : 12px;
	color : #660;
}

span.h2
{
	font-weight : bold;
	text-transform : uppercase;
	font-size : 12px;
	color : #660;	
}

h2.lowercase
{
	text-transform : capitalize;
}

h3
{
	margin : 5px 5px 15px 5px;
	color : #880;
	font-size : 95%;
	text-transform : uppercase;
	font-weight : normal;
}

h4
{
	margin : 15px 0px 15px 0px;
	padding : 0px;
	color : #000;
	font-size : 16px;
	font-weight : bold;
}

h5
{
	font-size : 14px;
	font-weight : normal;
	color : #000;
	margin : 0px 0px 15px 0px;
}

h6
{
	font-size : 12px;
	font-weight : normal;  
}

p
{
	margin : 0px 0px 15px 0px;
	padding : 5px;
}

p.hanging
{
	padding-left : 4em;
	text-indent : -4em;
}

p.space
{
	padding : 10px;
}

p.tables
{
	text-indent : 0px;
	font-style : italic;
	color : #660;	
}

p.tess
{
  font-family : courier new;
  font-size : 12px;
  text-align : left;
}

a
{
	color : #888;
}

a:hover
{
	color : #c00;
}
	
div.links a
{
	margin : 1px;
	padding : 3px 0px 3px 0px;
	color : #000;
	text-transform : uppercase;
	text-decoration : none;
	font-family : "times new roman", serif;
}

div.links a:hover
{
	color : #fff;
}
	
div.links
{
	height : 29px;
	line-height : 29px;
	background : #828F49;
	text-align : center;
}

div.sub_search
{
	margin: 0px auto 10px;
	border: 1px solid gray;
}

img.border
{
	border : 1px solid #000;
} 

img.right
{
  float : right;
  border : 1px solid #000;
  margin : 0px 0px 5px 5px;
}

.matched 
{
color : #FF0000;
}

ul.nostyle
{
	padding : 0px 0px 15px 25px;
	margin : 0px;
	list-style-type : none;
}

ul.nostyle li
{
	padding : 0px;
	margin : 0px;
}

ul
{
  margin : 0px 0px 15px 30px;
  padding : 0px;
}

ul li
{
  margin : 0px;
  padding : 0px;
}

ul.bullet
{
	list-style-type : none;
	margin : 0px 0px 15px 15px;
	padding : 0px;
}

ul.bullet li
{
	padding : 0px 0px 0px 10px;
	background : url(/images/bullet.gif) no-repeat 0px 8px;
}

hr
{
  height : 1px;
  border-width : 0px;
  color : #e2e7c7;
  background-color : #e2e7c7;
  margin : 15px 45px 15px 45px;
}

div.right
{
  float : right;
  margin : 0px 0px 5px 5px;
}

td.footnote
{
	font-size : 85%;
	color : 777;
}

table.input
{
	width : 570px;
}

table.input th, table.input td {
  font-size : 77%;
  font-family : arial, helvetica, sans-serif;
  background : none;	 
  padding : 5px;	
  margin : 0px 0px 0px 10px;

}

table.output td {
	background-color: #F0F0F0;
	font-weight : bold;
	font-size : 11px;
	color : #660;
	padding: 5px;
}

table.output th.phrase {
	width: 40%;
}

table.output th {
	background-color: #e1e6c6;
}

