body
{
	color : #666;
	background : #fff;
	margin : 0px;
	padding : 0px;
	font-family : arial, helvetica, sans-serif;
	font-size : 12px;
	text-align : center;
}

div#container
{
	width : 800px;
	border : 1px solid #000;
	margin: 0px auto;
}

div#header
{
	position: relative;
	background: #e1e6c6;
}

div#title
{
}

div#nav_main
{
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: left;
}

div#nav_main ul
{
	margin: 10px 20px;
	list-style-type: none;
}

div#nav_main ul li
{
	list-style-type: none;
	padding: 2px;
}

div#nav_main li a
{
	text-transform : uppercase;
	text-decoration : none;
	font-family : "times new roman", serif;
}

div#nav_main a:hover
{
	clear: both;
	color : red;
}

div#nav_sub
{
	clear: both;
	padding-left: 100px;
	height : 29px;
	line-height : 29px;
	background : 	#828F49;
	text-transform : uppercase;
	font-family : "times new roman", serif;
}

div#nav_sub ul
{
	margin: 0px;
}

div#nav_sub ul li
{
	list-style-type: none;
	display: block;
	float: left;
	padding-right: 30px;
}

div#nav_sub li a
{
	color: black;
	text-decoration: none;
}

div#footer
{
	position: relative;
	background : #e1e6c6;
	height: 130px;
	text-align: left;
}

div#footer_content
{
	position: absolute;
	left: 25%;
	width: 50%;
}

div#footer_content p
{
	position: static;
	margin: 0px;
	font-size : 10px;
	color : #777;
	text-align: left;
}

div#footer_content a
{
	text-decoration: none;
	font-weight: bold;
}

div.footer_icon_right
{
	position: absolute;
	text-align: right;
	right: 5px;
	top: 20%;
}

div.footer_icon_left
{
	position: absolute;
	vertical-align: top;
	left: 5px;
	top: 20%;
}


div#footer img
{
	max-height: 50px;
}

div#results_sort
{
	padding: 25px 100px;
	text-align: justify;
}

div#main
{
	padding: 25px 100px;
	text-align: justify;
	min-height: 340px;
}

div.figure
{
	margin : 25px auto;
	text-align : center;
}

div.figure_caption
{
	margin : 2px auto 10px;
	font-size : 95%;
	text-transform : uppercase;
	color : #880;
}

div.blog
{
	border : 1px solid gray;
}

div.blog h1
{
	font-size: 120%;
}

table.data
{
	margin : 25px auto;
}

table.data caption
{
	margin : 10px auto 2px;
	font-size : 95%;
	text-transform : uppercase;
	color : #880;
}

table.fulltext
{
	background : white;
}

h1
{
	margin : 0px 0px .7em;
	padding : 5px;
	font-size : 2em;
}

h2
{
	margin : 0px;
	padding : 5px 5px 15px 5px;
	font-weight : bold;
	text-transform : uppercase;
	font-size : 12px;
	color : #660;
}

span.h2
{
	font-weight : bold;
	text-transform : uppercase;
	font-size : 12px;
	color : #660;	
}

h2.lowercase
{
	text-transform : capitalize;
}

h3
{
	margin : 5px 5px 15px 5px;
	color : #880;
	font-size : 95%;
	text-transform : uppercase;
	font-weight : normal;
}

h4
{
	margin : 15px 0px 15px 0px;
	padding : 0px;
	color : #000;
	font-size : 16px;
	font-weight : bold;
}

h5
{
	font-size : 14px;
	font-weight : normal;
	color : #000;
	margin : 0px 0px 15px 0px;
}

h6
{
	font-size : 12px;
	font-weight : normal;  
}

p
{
	margin : 0px 0px 15px 0px;
	padding : 5px;
}

p.hanging
{
	padding-left : 4em;
	text-indent : -4em;
}

p.space
{
	padding : 10px;
}

p.tables
{
	text-indent : 0px;
	font-style : italic;
	color : #660;	
}

p.tess
{
  font-family : courier new;
  font-size : 12px;
  text-align : left;
}

a
{
	color : #888;
}

a:hover
{
	color : #c00;
}

img.border
{
	border : 1px solid #000;
} 

img.right
{
  float : right;
  border : 1px solid #000;
  margin : 0px 0px 5px 5px;
}

.matched 
{
color : #FF0000;
}

ul.nostyle
{
	padding : 0px 0px 15px 25px;
	margin : 0px;
	list-style-type : none;
}

ul.nostyle li
{
	padding : 0px;
	margin : 0px;
}

ul
{
  margin : 0px 0px 15px 30px;
  padding : 0px;
}

ul li
{
  margin : 0px;
  padding : 0px;
}

div.right
{
  float : right;
  margin : 0px 0px 5px 5px;
}

td.footnote
{
	font-size : 85%;
	color: #777;
}

table.input
{
	width : 570px;
}

table.input th, table.input td {
  font-size : 77%;
  font-family : arial, helvetica, sans-serif;
  background : none;	 
  padding : 5px;	
  margin : 0px 0px 0px 10px;

}

table.output {

	width : 100%;
}

table.output td {
	background-color: #F0F0F0;
	font-weight : bold;
	font-size : 11px;
	color : #660;
	padding: 5px;
	text-align: left;
}

table.output th.phrase {
	width: 40%;
}

table.output th {
	background-color: #e1e6c6;
}

